#toast {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 99;

  .alert {
    pointer-events: all;
    width: 30%;
    margin: 25px;
    min-width: 200px;
    max-width: 400px;

    p {
      margin: 0;
    }

    strong {
      margin-bottom: 5px;
    }

  }

}