#setting {

  .address {
    .card {

      .map{
        float: left;
        margin-right: 15px;
      }

      p{
        margin-bottom: 5px;
      }
      .invoice {
        i{
          font-size: inherit;
        }
      }

    }
  }

}